.btn {
    text-align: center;
    font-size:60px;
    height:90px;
    vertical-align: middle;
    line-height: normal;
    width:15rem;
    border-radius: 10px;
    font-family:Allan;
  margin-left: 20px;
  margin-right: 20px;
}


.btn:active {
    color: black;
    transform: scale(0.99,0.99);
}


.three {
        background: linear-gradient(white, white);
        border:4px solid #272625;
        transition: all 0.4s;
        transition-timing-function:cubic-bezier(0.5, 3, 0, 1);
}
 

.three:hover {
        transform:scale(1.2,1.2);
        color: black;
}

body {
  background-image: url(IMGS/Lightning.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}