.btn {
    text-align: center;
    font-size:60px;
    height:90px;
    vertical-align: middle;
    line-height: normal;
    width:15rem;
    border-radius: 10px;
    font-family:Allan;
  margin-left: 20px;
  margin-right: 20px;
  background-color: white;
}

body {
  background-image: url(IMGS/Lightning.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}